.Document{
  /* display: grid;
  grid-template-columns: auto; */
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 625px;
}

.PDImgDL {
  margin-top: 150px;
}

.PDImg {
  border: 2px solid #E0CDCA;
}

.goodnews {
  width: 100%;
}

.topImg{
  margin-top: 150px;
}

.bottomImg {
  margin-bottom: 100px;
}

.PDDL {
  color: black;
}