.App {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  position: relative;
  height: 100%;
  min-height: 95vh;
  padding-bottom: 80px;
  min-width: 373px;
  border: 1px solid #E0CDCA;
  /* background-image: url('../images/MtH.JPG');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; */
}

.App__nav {
  padding-top: 1px;
  padding-bottom: 250px;
  background-color: white;
  /* font-family: 'Shadows Into Light Two', cursive; */
  border: 1px solid #E0CDCA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-width: 373px;
}

.logo {
  width: 250px;
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
  padding-top: 1px;
  display: inline-block; 
  text-align: center;
}

.Menu {
  margin-bottom: 100px;
}

.App__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  border: 1px solid #E0CDCA;
  margin-top: 40px;
  padding-top: 3px;
  padding-bottom: 1px;
  font-size: 15px;
  font-weight: bold;
  /* font-family: 'Shadows Into Light Two', cursive; */
}